.lateralMenu {
  display: flex;
  flex-direction: column;
  width: 20em;
  background-color: aqua;
}

.layout {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: greenyellow;
}
.layout__container {
  display: flex;
  flex-direction: column;
  background-color: greenyellow;
}

.nav {
  background-color: pink;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 375px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.layout__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.layout__content__main {
  flex: 1;
  padding: 4em 0em 0em;
  box-sizing: border-box;
}

@media (min-width: 1000px) {
  .layout {
    margin-left: 15em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}